.form-container {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 50%;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.sidebar {
    width: 20%;
    height: 500px;
    background-color: azure;
    float: left;
}

.menu {
    list-style: none;
    text-align: center;
    margin-top: 30px;
    font: 1.5em bold;
}